.navbar {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.8rem;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffcc00; /* Un color de acento para el hover */
}